
<h1>Parashar {{title}}</h1><br/>

<input type="text" value="{{name}}" disabled="{{disable}}" > <br/> <!--interpolation -->

<input type="text" [value]="name" [disabled]="disable" >  <!--binding-->

<!-- <input type="text" #print1  name="name" placeholder="Enter name">
<br/>
<button (click)="printingthevalue(print1.value)" >Click me</button>
<h2>You entered : {{name}}</h2>
<button (click)="counterfunction('add')">++</button>
<button (click)="counterfunction('sub')">--</button>
<h2 class="heading">Count is : {{count}}</h2> -->




<!-- <input type="text" #box (keyup)="eventcall(box.value)" placeholder="Enter something" ><br/> 
<input type="text" #box1 (blur)="eventcall1(box1.value)" placeholder="Blur event"><br/>
<h2 (mouseover)="eventcall('abc')">mousehover</h2> -->



<!-- <button (click)="getalert()">Click me</button>
<button (click)="oneparameter('Parashar Baral')">Call a Parametraized function</button>
<button (click)="twoparameters('Parashar',9860906599)">Two parameters</button> -->


<!-- 
<p>{{data}}</p>
<p>{{function1()}}</p>

<p>{{10+2}}</p>

<p>{{title=="blog"}}</p>

<p class={{title}}> Class named assigned through interpolation.</p>
<p class="{{title}}"> Class named assigned through interpolation using double inverted comma.</p>

<app-login></app-login>

<app-register></app-register>
<app-inline-style-component></app-inline-style-component>


<app-inline-template-component></app-inline-template-component>

<app-both-inline></app-both-inline>


<app-sign-in></app-sign-in>
<app-sign-up></app-sign-up> -->

