<h1>Hello</h1>
<p>Value is : {{abc}}</p>
<app-child (updateDataEvent)="updateData($event)" ></app-child>

<!-- <ul *ngFor="let user of userDetails">

  <li><app-child [item]="user"></app-child></li>
</ul> -->

<!-- <app-child [item]="name" [number1]="number" [phonenumber]="phoneNumber"></app-child>
<button (click)="changeNumber()">Change Number</button> -->
<!-- <input type="text" #item placeholder="Enter name">
<button (click)="displayFunction(item.value)">Submit</button>

<ul *ngFor="let abc of todolist">
  <li>{{abc.name}} <button (click)="removeItem(abc.id)" class="btn btn-warning">Remove</button>
 
  </li>
</ul> -->

<!-- 
<button (click)="toggle()">Toggle</button>
<h1 *ngIf="show">Ram</h1>



<button class="btn btn-primary">hello</button>


 <form #form1="ngForm" (submit)="getData(form1.value)">
  Name:<input ngModel type="text" name="name"><br/>
  Email:<input ngModel  type="email" name="email"><br/>
  Phone Number:<input ngModel type="number" name="number"><br/>
  <button  class="btn btn-warning">Submit</button><br>


</form>

<h1>{{userData.name}}</h1>
<h1>{{userData.email}}</h1>
<h1>{{userData.number}}</h1>



-->

 <!-- <app-header></app-header>
<app-body></app-body>  -->